html {
    --light-blue: rgb(0, 148, 255);
    --line-blue: rgb(164, 205, 238);
}

/* Utility */
.hidden {
    display: none !important;
}

body {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "rail sidebar content content content content";

    grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;

    background-color: rgb(250, 250, 250);

    color: rgb(68, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
}






.rail {
    grid-area: rail;
    display: flex;
    flex: 1;
    flex-direction: column;

    height: 98%;

    background: white;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 15px;
}

.nav-top {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.nav-bottom {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

.navbutton.home-icon,
.navbutton.forecast-icon,
.navbutton.about-icon,
.navbutton.user-icon {
    display: flex;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgb(230, 230, 230);

    transition-duration: .2s;
}


.navbutton:hover {
    border: 1px solid var(--light-blue);
    box-shadow: 1px 1px 5px rgb(198, 204, 208);
}





.sidebar {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    height: 98%;
    min-width: fit-content;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 15px;
}

.sidebar-header {
    display: flex;
    border-bottom: 1px solid rgb(220, 220, 220);
    margin: 5px 15px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.searchbox input[type=text] {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    gap: 10px;
    align-items: left;
    padding: 20px;

    font-size: 14px;
}

.city-button {
    background: none;
    border: none;
    text-align: left;
    width: fit-content;
    border-bottom: 1px solid white;

    transition-duration: .2s;
}

.sidebar-content .city-button:hover {
    color: var(--light-blue);
    border-bottom: 1px solid var(--line-blue);
}













.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 98%;

    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 15px;
}

.content-header {
    display: flex;
    flex-direction: row;
    margin: 5px 20px;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    font-size: 14px;

    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: auto;
    scrollbar-width: small;
}

.surf-spot-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.spot-button {
    opacity: 0;
    background: none;
    border: none;
    text-align: center;
    border-bottom: 1px solid rgb(220, 220, 220);

    font-size: 14px;

    transition: all .2s ease;
}

.spot-button.show {
    opacity: 1;
}

.spot-button:hover {
    color: var(--light-blue);
    border-bottom: 1px solid var(--line-blue);
}


.content-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.logodiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Go Surf LOGO DISPLAY */
.logotext {
    opacity: 1;
    font-size: clamp(40px, 16vw, 280px);
    font-weight: bold;
    background-image: url("photos/ocean2.jpg");
    background-size: cover;
    background-position: center;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: inline-block;
    white-space: nowrap;

    transition: all .2s ease;
}






/* CURRENT CONDITIONS */
.current-conditions-parent {
    display: flex;
    justify-content: center;
    width: 100%;

    margin-top: 30px;
}

.conditions-card {
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 90vw;
}

.conditions-title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;
}

.conditions-content {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;

    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;

    background: rgb(248, 248, 248);
    border-radius: 15px;
}

.conditions-content-left,
.conditions-content-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.conditions-content-left-title,
.conditions-content-right-title {
    display: flex;
    font-size: 18px;
    font-weight: 300;

    width: 100%;
    max-width: 260px;
    text-align: left;

    border-bottom: 1px solid rgb(220, 220, 220);

    margin-bottom: 10px;

}

.content-left-data,
.content-right-data {
    width: 100%;
    max-width: 260px;
    text-align: left;
}

.content-left-data p,
.content-right-data p {
    margin: 6px 0;
}